body {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0;
    text-align: center;
    margin: auto;
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}

button {
    margin: 20px 0;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px
}